<p style="text-align: center; background-color: white;">
  <a href="https://github.com/dvgodoy/dl-visuals/">Home</a> |
  <a href="https://dvgodoy.github.io/dl-visuals/Activation%20Functions/">Activation Functions</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Architectures/">Architectures</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Assorted/">Assorted</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Attention/">Attention</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/BatchNorm/">Batch Norm</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/BERT/">BERT</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Classification/">Classification</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Convolutions/">Convolutions</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Decoder/">Decoder</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Dropout/">Dropout</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/ELMo/">ELMo</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Encoder/">Encoder</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Feed-Forward%20Networks/">FFN</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Gradient%20Descent/">Gradient Descent</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Initializations%20and%20Clipping/">Initializations and Clipping</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/LayerNorm/">Layer Norm</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Optimizers%20and%20Schedulers/">Optimizers and Schedulers</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Patch%20Embeddings/">Patch Embeddings</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Positional%20Encoding/">Positional Encoding</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/RNNs/">RNNs</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Seq2Seq/">Seq2Seq</a> | 
  <a href="https://dvgodoy.github.io/dl-visuals/Transformers/">Transformers</a>
</p>